<!--Welcome part-->
<div class="bg-image">
  <div class="text-center" id="textCenter">
    <h1 class="title">
      <span class="word">Premium  </span>
      <span class="word">Park  </span>
      <span class="word">Hotel</span>
    </h1>
    <br>
    <p class="paragraph">
      <span class="word">Experience </span>
      <span class="word">the </span>
      <span class="word">epitome </span>
      <span class="word">of </span>
      <span class="word">luxury </span>
      <span class="word">and </span>
      <span class="word">comfort </span>
      <span class="word">at </span>
      <span class="word">our </span>
      <span class="word">five-star </span>
      <span class="word">hotel. </span>
    </p>
  </div>
</div>

<!--Intro, two images-->
<div class="container-fluid secondpart">
  <div class="heading">
    <h1>Where Luxury Meets Comfort~</h1>
  </div>
  <div class="text2">
    <p>Step into the elegance of Premium Park Hotel, where luxury meets comfort in the heart of Prizren. 
      Immerse yourself in elegance as you step into our refined sanctuary. At Premium Park Hotel, we invite you to experience hospitality redefined, where every moment is crafted with care.
      <span class="bottomLine"></span>
    </p>   
 </div>
 <div class="images">
  <div class="image1"></div>
  <div class="image2"></div>
</div>
</div>


<!--rooms-->
<div class="container-fluid main">
  <section class="section-one">
    <figure class="image-container one">
      <img src="./assets/images/deluxe-triple-room.jpg" alt="image 1" />
      <figcaption class="caption">Deluxe Triple Room</figcaption>
    </figure>
    <figure class="image-container">
      <img src="./assets/images/twin-room.webp" alt="image 2"/>
      <figcaption class="caption">Twin Room</figcaption>
    </figure>
    <figure class="image-container">
      <figcaption class=" text3">
        Discover a world of unparalleled comfort and convenience in our thoughtfully designed rooms, each offering
        a unique blend of style, comfort, and functionality.
      </figcaption>
      <div class="fig">Classic Triple</div>
    </figure>
    <figure class="image-container">
      <figcaption class="caption ht">
        Accomodation
      </figcaption>
      <img src="./assets/images/one-bedroom.webp" alt="image 2" />
      <figcaption class="caption">
        One bedroom Apartament
      </figcaption>
    </figure>
    <figure class="image-container" >
      <img src="./assets/images/classic-triple-room.webp" alt="image 2" />
    </figure>
  </section>

  <!--bussines spaces-->
  <section class="section-two">
    <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-8 col-md-12 col-sm-12">
    <div class="letter" >
      <span> Bussines spaces </span>
    </div>
    <div class="titles" >
      <div class="title-1">
        <span class="num">01</span>
        <h1>Conference room</h1>
      </div>
      <div class="title-1">
        <span class="num">02</span>
        <h1>Meeting room</h1>
      </div>
    </div>
    <div class="paragraph">
      Elevate your business meetings and corporate events with our modern and fully-equipped conference room
      Host successful conferences, seminars, and workshops in our versatile and spacious conference facility.
      Convenient booking options and flexible scheduling to suit your agenda.
    </div>
    <div class="images-bsn">
    <figure class="image-1">
      <img src="./assets/images/conference.jpg" alt="image 1" />
    </figure>
    <figure class="image-2">
      <img src="./assets/images/meeting.jpg" alt="image 2" />
    </figure>
  </div>
  </div>
</div>
  </section>
</div>

<!--banner-->
<div class="conatiner fourthpart">
  <div class="row">
    <div class="col-12">
      <section class="section1">
        <div class="container" id="direction">
          <h1 class="banner">
            <span>Relax by our luxurious pool area</span>
          </h1>
          <h1 class="banner">
            <span>Indulge in a relaxing sauna session </span>
          </h1>
          <h1 class="banner">
            <span>Stay fit at our state-of-the-art gym </span>
          </h1>
          <h2 class="banner">
            <span>And more...</span>
          </h2>
        </div>
      </section>
    </div>
  </div>

    <!--free time spaces-->
  <section class="cards__wrapper">
    <figure class="card">
      <div class="card__image--wrapper">
        <img src="./assets/images/jakuzzi.jpg" alt="Image 1" class="card__image" />
      </div>
      <div class="card__text">
        <span class="card__text--inner">
            <h1>Jakuzzi</h1>
            <p>
              Embark on a journey to ultimate relaxation in our inviting jacuzzi. Whether it's to unwind after a busy day or simply indulge, our tranquil bubbling oasis offers a serene retreat.</p>        </span>
      </div>
    </figure>
  
    <figure class="card">
      <div class="card__image--wrapper">
        <img src="./assets/images/spa.jpg" alt="Image 2" class="card__image" />
      </div>
      <div class="card__text">
        <span class="card__text--inner">
            <h1>Spa</h1>
        <p>
          Embrace pure serenity at our luxurious spa. Treat yourself to a range of rejuvenating therapies, from soothing massages to invigorating facials, all designed to renew and refresh your senses.</p>
        </span>
      </div>
    </figure>
  
    <figure class="card">
      <div class="card__image--wrapper">
        <img src="./assets/images/sauna.jpg" alt="Image 3" class="card__image" />
      </div>
      <div class="card__text">
        <span class="card__text--inner">
            <h1>Sauna</h1>
            <p>
              Experience blissful warmth in our rejuvenating sauna. Immerse yourself in deep relaxation as the soothing heat melts away tension, leaving you refreshed and revitalized .            </p>
        </span>
      </div>
    </figure>

  </section>
</div>

<!--food-menu-->

<div class="wrapp">
  <section class="work">
      <div class="work_left">
          <div class="work_text">
              <div class="work_info">
                  <div class="work_left_bl">
                      <span class="work_num">00</span>
                      <h2 class="title2">Explore Our<span class="stroke">Exquisite Menu </span></h2>
                      <p>Our experienced chefs specialize in traditional and Mediterranean cuisine, ensuring you'll delight in our high-quality fresh products, accompanied by a variety of delicacies made with a wide selection of flavorful ingredients.</p>
                  </div>
              </div>

              <div class="work_info">
                  <div class="work_left_bl">
                      <span class="work_num">01</span>
                      <h2 class="title2">Classic Italian<span class="stroke"> Bruschetta</span></h2>
                      <p>An easy to make, classic Italian appetizer that's perfect for any get together. Made with fresh tomatoes, basil, and deliciously seasoned bread.</p>
                  </div>
              </div>

              <div class="work_info">
                  <div class="work_left_bl">
                      <span class="work_num">02</span>
                      <h2 class="title2">Tuscan Steak <span class="stroke">Symphony</span></h2>
                      <p>Enjoy a perfectly cooked steak, bursting with flavor and paired with fragrant herb rice and tender glazed carrots.</p>
                  </div>
              </div>

              <div class="work_info">
                  <div class="work_left_bl">
                      <span class="work_num">03</span>
                      <h2 class="title2">Morning Delights <span class="stroke">Breakfast Spread</span></h2>
                      <p>Indulge in a symphony of flavors with our breakfast spread! Savor hearty sausages, fluffy pancakes with maple syrup, golden croissants, freshly baked pastries, vegetables and much more. At our table, breakfast is an experience crafted to elevate your day.</p>
                  </div>
              </div>
              <div class="work_info">
                  <div class="work_left_bl">
                      <span class="work_num">04</span>
                      <h2 class="title2">Burger Bliss <span class="stroke">& Fries</span></h2>
                     <p>Indulge in our savory classic burger served with a side of golden French fries. Nestled between a soft bun, this sandwich boasts a delectable medley of meats, cheeses, and crisp vegetables. </p>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="work_right">
          <div class="work_right_bl">
              <div class="work_photo_item" title2="0">
                  <img src="assets/images/restaurant3.jpg" alt="">
              </div>
              <div class="work_photo_item" title2="1">
                  <img src="assets/images/food1.jpg" alt="">
              </div>
              <div class="work_photo_item" title2="2">
                  <img src="assets/images/food2.jpg" alt="">
              </div>
              <div class="work_photo_item" title2="3">
                  <img src="assets/images/food4.jpg" alt="">
              </div>
              <div class="work_photo_item" title2="4">
                  <img src="assets/images/food6.jpg" alt="">
              </div>
          </div>
      </div>
  </section>
</div>

<div class="container-fluid sixthpart">
  <h1>Other Services</h1>
  <hr>
  <div class="row row-left" id="row1">
    <div class="col-lg-4 col-md-12 col-sm-6 justify">
      <div class="service">
        <p>Parking</p><img src="./assets/images/parking.png" alt="" class="moveImages">
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-6 justify"> 
      <div class="service">
        <p>Free Wi-fi</p><img src="./assets/images/wifi.png" alt="" class="moveImages">
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-6 justify">
      <div class="service">
        <p>Laundry</p><img src="./assets/images/laundry.png" alt="" class="moveImages">
      </div>
    </div>
  </div>
  <div class="row row-right" id="row2">
    <div class="col-lg-4 col-md-12 col-sm-6 justify">
      <div class="service">
        <p>Bar</p><img src="./assets/images/bar.png" alt="" class="moveImages">
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-6 justify"> 
      <div class="service">
        <p>Baggage service</p><img src="./assets/images/baggage.png" alt="" class="moveImages">
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-6 justify">
      <div class="service">
        <p>24h-Front Desk</p><img src="./assets/images/front-desk.jpg" alt="" class="moveImages">
      </div>
    </div>
  </div>
</div>

<!--image slider-->

<div class="container-fluid racesWrapper">
  <h1>Look for More Spaces and Different Environments</h1>
    <div class="races">
        <img src="assets/images/galeria1.jpg" alt="image" class="img-slider">
        <img src="assets/images/galeria.jpg" alt="image" class="img-slider">
        <img src="assets/images/galeria3.jpg" alt="image" class="img-slider">
        <img src="assets/images/galeria2.jpg" alt="image" class="img-slider">
        <img src="assets/images/galeria4.jpg" alt="image" class="img-slider">
        <img src="assets/images/galeria5.jpg" alt="image" class="img-slider">
        <img src="assets/images/galeria6.jpg" alt="image" class="img-slider">
        <img src="assets/images/galeria7.jpg" alt="image" class="img-slider">
        <img src="assets/images/galeria8.jpg" alt="image" class="img-slider">
        <img src="assets/images/galeria9.jpg" alt="image" class="img-slider">
        <img src="assets/images/galeria10.jpg" alt="image" class="img-slider">
        <img src="assets/images/galeria11.jpg" alt="image" class="img-slider">
        <img src="assets/images/galeria13.jpg" alt="image" class="img-slider">
      </div>
  </div>
  
  <div class="container footer">
    <hr>
    <p> &copy; 2024 -Hotel Premium Park </p>
  </div>
  
