<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <h1 class="heading">Learn More About Us</h1><hr>
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded image1" loading="lazy" src="./assets/images/entry.jpg" alt="Hotel Entrance">
        <img class="arrow" src="./assets/images/arrow.png">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="h1 mb-3 heading1">Welcome to Premium Park Hotel!</h2>
            <p class="lead fs-4 text-secondary mb-3 paragraph2">Experience luxury and comfort at our hotel. We strive to provide exceptional hospitality and memorable stays.</p>
            <p class="mb-5 paragrap3">Discover a world of elegance and sophistication at Premium Park Hotel. With our exquisite accommodations and personalized services, your stay with us will be nothing short of exceptional.</p>
            <div class="row gy-4 gy-md-0 gx-xxl-5X">
              <div class="col-12 col-md-6">
                <div class="d-flex firstcol">
                  <i class="bi bi-door-closed-fill me-4 bigger-icon green-icon"></i>
                  <div>
                    <h4 class="mb-3">Luxurious Rooms</h4>
                    <p class="text-secondary mb-0">Indulge in comfort with our beautifully designed rooms and suites.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex secondcol">
                  <i class="bi bi-award-fill me-4 bigger-icon green-icon"></i>
                  <div>
                    <h4 class="mb-3">Exceptional Dining</h4>
                    <p class="text-secondary mb-0">Savor delicious culinary delights at our renowned restaurant.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <h2 class="h1 mb-3 heading2">Why Stay With Us?</h2>
            <p class="lead fs-4 mb-3 mb-xl-5 paragraph3">Discover the reasons why Premium Park Hotel is the perfect choice for your stay:</p>
            <div class="d-flex align-items-center mb-3">
              <i class="bi bi-check-circle-fill me-3 bigger-icon green-icon"></i>
              <div>
                <p class="points m-0">Luxurious accommodations for a relaxing stay.</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <i class="bi bi-check-circle-fill me-3 bigger-icon green-icon"></i>
              <div>
                <p class="points m-0">Award-winning dining experiences at our restaurant.</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-4 mb-xl-5">
              <i class="bi bi-check-circle-fill me-3 bigger-icon green-icon"></i>
              <div>
                <p class="points m-0">Convenient location for exploring the city.</p>
              </div>
            </div>
            <button type="button" class="btn bsb-btn-2xl btn-outline-info rounded-pill">Book Your Stay</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded image2" loading="lazy" src="./assets/images/galeria1.jpg" alt="Hotel Gallery">
      </div>
    </div>
  </div>
</section>


<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8">
        <h3 class="points mb-2 text-secondary text-uppercase text1">OUR JOURNEY</h3>
        <h2 class="display-5 mb-4">Uncover the Legacy of Premium Park Hotel.</h2>
      </div>
    </div>
  </div>
  <div class="container overflow-hidden">
    <div class="row gy-4 gy-lg-0">
      <div class="col-12 col-lg-6">
        <article>
          <div class="card right">
            <img class="card-img-top img-fluid m-0" loading="lazy" src="./assets/images/galeria4.jpg" alt="Hotel History">
          </div>
        </article>
      </div>
      <div class="col-12 col-lg-6">
        <article>
          <div class="card left">
            <img class="card-img-top img-fluid m-0" loading="lazy" src="./assets/images/galeria8.jpg" alt="Hotel Legacy">
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="container footer">
    <hr>
    <h5>&copy; 2024 -Hotel Premium Park</h5>
  </div>
</section>
