<!-- Contact 5 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-12">
        <h1 class="mb-2  text-uppercase title">
          <span class="word">Contact</span>
        </h1>
        <h2 class="display-5 mb-4 mb-md-5 mb-xl-8 paragraph1">
          <span class="word">Whether you have questions about our rooms, amenities, local attractions
             our team is ready to assist you.</span>
          <span class="word">  Feel free to reach out to us using the information below.</span>
          </h2>         
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gy-4 gy-md-5 gy-lg-0 align-items-md-center">
      <div class="col-12 col-lg-6 secondpart">
        <div class="overflow-hidden custom-border">

          <form action="#!">
            <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
              <div class="col-12">
                <label for="fullname" class="form-label">Full Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="fullname" name="fullname" required>
              </div>
              <div class="col-12 col-md-6">
                <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="bi bi-envelope-fill bi-lg"></i>
                  </span>
                  <input type="email" class="form-control" id="email" name="email" required>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <label for="phone" class="form-label">Phone Number</label>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="bi bi-phone-fill bi-lg"></i>
                  </span>
                  <input type="tel" class="form-control" id="phone" name="phone">
                </div>
              </div>
              <div class="col-12">
                <label for="subject" class="form-label">Subject <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="subject" name="subject" required>
              </div>
              <div class="col-12">
                <label for="message" class="form-label">Message <span class="text-danger">*</span></label>
                <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-primary btn-lg" type="submit">Send Message</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <div class="mb-4 mb-md-5 location">
              <div class="mb-3 text-primary">
                <i class="bi bi-geo-fill fs-3 custom-icon"></i>
              </div>
              <div>
                <h4 class="mb-2">Location</h4>
                <p class="mb-2">Visit us</p>
                <hr class="w-50 mb-3 border-dark">
                <address class="m-0 text-secondary">Rr. Tirana P.n. Prizren 20000</address>
              </div>
            </div>
            <div class="row mb-sm-4 mb-md-5">
              <div class="col-12 col-sm-6 phone">
                <div class="mb-4 mb-sm-0">
                  <div class="mb-3 text-primary">
                    <i class="bi bi-telephone-fill fs-3 custom-icon"></i>
                  </div>
                  <div>
                    <h4 class="mb-2">Phone</h4>
                    <p class="mb-2">Please speak with us directly.</p>
                    <hr class="w-75 mb-3 border-dark">
                    <p class="mb-0">
                      <a class="link-secondary text-decoration-none" href="tel:+15057922430">+383 29 222 444 / +383 43 504 504</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="mb-4 mb-sm-0 email">
                  <div class="mb-3 text-primary">
                    <i class="bi bi-envelope-fill fs-3 custom-icon"></i>
                  </div>
                  <div>
                    <h4 class="mb-2">Email</h4>
                    <p class="mb-2">Please write to us directly.</p>
                    <hr class="w-75 mb-3 border-dark">
                    <p class="mb-0">
                      <a class="link-secondary text-decoration-none" href="mailto:info@premiumparkhotel.com">info@premiumparkhotel.com</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="hours">
              <div class="mb-3 text-primary">
                <i class="bi bi-alarm-fill fs-3 custom-icon"></i>
              </div>
              <div>
                <h4 class="mb-2">Opening Hours</h4>
                <hr class="w-50 mb-3 border-dark">
                <div class="d-flex mb-1">
                  <p class="text-secondary fw-bold mb-0 me-5">Mon - Sat</p>
                  <p class="text-secondary mb-0">24/7</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container footer">
    <hr>
    <h5> &copy; 2024 -Hotel Premium Park </h5>
  </div>
</section>